@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.body {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(
    to top,
    #33bec4,
    #2bb3c7,
    #33a7c7,
    #429bc3,
    #528ebb,
    #5992bc,
    #6095be,
    #6799bf,
    #70adca,
    #7fc1d4,
    #94d4dc,
    #ace7e4
  );
}

.main-layout {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* align-items: center; */
  justify-content: center;
  margin-left: 35%;
  /* border: 1px solid black; */
  margin-top: 200px;
  -webkit-box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.95);
  box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.95);
}

.tableEle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div label {
  font-size: 20px;
  margin-left: 30%;
}
.box-animation {
  color: white;
  text-transform: uppercase;
  padding: 40px;
  font-weight: bold;
  border: 1px solid black;
  transition: 0.5s;
  border-radius: 10px;
  background-image: linear-gradient(
    to right top,
    #e88213,
    #da9d00,
    #bdb900,
    #8dd300,
    #12eb13
  );
}

.box-animation:hover {
  border-radius: 40px;
  color: #11020f;
  cursor: pointer;

  transform: translateY(-3px);
}

.text-control {
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
  padding: 200px, 50px, 200px, 50px;
  margin-top: 5%;
}

.saas {
  font: bolder;
  font-size: 100px;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  top: 128px;
  text-align: center;
  /* padding: 15px;
  margin-bottom: 10px; */
}

h3 span {
  border: 4px dashed #20bcd5;
  border-radius: 50%;
}

.container-fluid body {
  border-radius: 4px solid black;
}
