<div class="container-fluid body">
  <div class="register">
    <button
      type="button"
      class="btn btn-primary btn-lg"
      mat-raised-button
      (click)="openDialog()"
    >
      Register
    </button>
  </div>

  <div class="main-layout">
    <section class="col-md-offset-2 col-md-8">
      <form action="submit()">
        <div class="form-group">
          <label for="userName"><h1>User Name</h1></label>
          <input
            type="text"
            id="userName"
            name="userName"
            class="form-control"
            [(ngModel)]="login.userName"
            placeholder="Enter your UserName"
          />
        </div>
        <div class="form-group">
          <label for="pass"><h1>Password</h1></label>
          <input
            type="password"
            id="pass"
            name="pass"
            class="form-control"
            value="{login.password}"
            [(ngModel)]="login.passWord"
            placeholder="Enter your password"
          />
        </div>
        <div class="form-group">
          <button
            class="btn btn-success"
            (keyup.enter)="submitHandler()"
            (click)="submitHandler()"
          >
            Sumbit
          </button>
          <img
            *ngIf="loader"
            class="loader"
            src="https://i.gifer.com/ZZ5H.gif"
            alt=""
          />
          <a style="margin-left: 3%" href="">Forgot Password?</a>
        </div>
        <div>
          <h2 style="color: red">{{ errorMessage }}</h2>
        </div>
      </form>
    </section>
  </div>

  <!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile" />
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label> <input type="checkbox" /> Check me out </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form> -->
</div>
