<!-- <div class="container-fluid"> -->
<!-- <mat-tab-group mat-align-tabs="left" dynamicHeight>
  <mat-tab label="First">
    <app-available-stocks></app-available-stocks>
  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

<nav class="nav nav-tabs" mat-tab-nav-bar style="align-items: center">
  <a
    mat-tab-link
    *ngFor="let link of tabs"
    (click)="selectedTab(link)"
    [active]="activeLink == link"
    style="font-size: 40px; margin-left: 3%"
  >
    <i *ngIf="link.name == 'HOME'" class="fas fa-home"></i>
    <i *ngIf="link.name == 'Available Stocks'" class="fas fa-boxes"></i>
    <i
      *ngIf="link.name == 'Indentable Stocks'"
      class="fas fa-dolly-flatbed"
    ></i>
    <i *ngIf="link.name == 'Expired Stocks'" class="fas fa-book-dead"></i>

    {{ link.name }}
  </a>
  <hr />
</nav>
<div *ngIf="selectedTabValue === 'available'">
  <app-available-stocks
    [activeDrugList]="masterDrugList"
  ></app-available-stocks>
</div>
<div *ngIf="selectedTabValue === 'indentedStock'">
  <app-indented-stocks [indStockList]="masterDrugList"></app-indented-stocks>
</div>
<div *ngIf="selectedTabValue === 'expiredStock'">
  <app-expired-stocks></app-expired-stocks>
</div>
