<div class="container-fluid">
  <div>
    <button class="btn btn-success">Add New Item</button>
  </div>
  <hr />
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">DC Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Batch Number</th>
        <th scope="col">Mnf Date</th>
        <th scope="col">Expiry Date</th>
        <th scope="col">Available Qty</th>
        <th scope="col">Req. Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of newList">
        <th scope="row">{{ el.id }}</th>
        <td>{{ el.dcCode }}</td>
        <td>{{ el.productName }}</td>
        <td>{{ el.batchNumber }}</td>
        <td>{{ el.mnfDate }}</td>
        <td>{{ el.expireDate }}</td>
        <td>{{ el.quantity }}</td>
        <td>
          <input
            type="number"
            #reqQty
            (keyup)="addRequirement(reqQty.value, el.id)"
            class="form-control"
            min="0"
          />
        </td>
        <td>
          <button (click)="deleteItem(el.id)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
