table {
  width: 100%;
  align-items: center;
  /* margin-left: 5%; */
  border: 1px solid black;
}
.filter {
  /* margin-left: 5%; */
  height: 10%;
}
table th {
  color: orange;
  font-size: 20px;
  font-weight: 600;
  background-color: black;
}
.pagination {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
