.head {
  height: 60px;
  background-color: orange;
  display: flex;
  gap: 1%;
  padding-left: 20px;
  /* padding-bottom: 5px; */
  padding-right: 20px;
  position: relative;
}
h3 {
  color: white;
  cursor: pointer;
}
