<!--<div class="container-fluid; width:100%" style="background-image: linear-gradient(to top, #33bec4, #2bb3c7, #33a7c7, #429bc3, #528ebb, #5992bc, #6095be, #6799bf, #70adca, #7fc1d4, #94d4dc, #ace7e4);">
   <div style="height: 50px; background-color: orange"></div> -->
 <!--<header class="head">
    <i class="fas fa-bars" style="font-size: 35px"></i>
    <div style="display: flex; align-items: center; gap: 1%">
      <i style="font-size: 40px" class="fas fa-envelope-open"></i>
      <h3>shivappasagar@gmail.com</h3>
    </div>

    <hr />

    <div style="display: flex; align-items: center; gap: 1%">
      <i style="font-size: 40px" class="fas fa-phone-square"></i>
      <h3>Toll-Free: 6360959764</h3>
    </div>

    <hr />
    <div style="display: flex; align-items: center; gap: 1%">
      <i  style="font-size: 40px" class="fas fa-mobile-alt"></i>
      <h3><span style="gap: 2px;">6360959764</span></h3>
    </div> 

    <hr />-->
    <!-- <button
      class="btn btn-primary"
      style="margin-left: 1%; width: 10%; height: 90%; margin-top: 0.2%"
      (click)="loginUser()"
    >
      <i class="fas fa-sign-in-alt"></i>
      {{ login }}
    </button> 
  </header>
   <footer style="background-color: green; height: 50px"></footer> 
  <hr style="margin: 0px" />
</div> -->
