.paymentType {
  display: flex;
  gap: 10%;
}
.imagesPayment {
  height: 40px;
  width: 60px;
}
input {
  height: 50px;
  font-size: 20px;
}
.paymentType {
  margin: 20px;
}
.save {
  /* height: 60px; */
  /* width: 100%; */
  font-size: 200%;
  align-items: center;
  margin-top: 25px;
  border-radius: 10px;
  padding: 5%;

  background-color: #86b300;
  color: white;
  border: 0px;
}
.save:hover {
  background-color: #739900;
  cursor: pointer;
  color: whitesmoke;
}
.sales-history {
  color: black;
}
.parent-sales {
  display: flex;
}
thead {
  color: orange;
  background-color: black;
}
.editdata {
  font-size: 20px;
  cursor: pointer;
}
.sales-show {
  height: 200px;

  background-image: url("https://i.gifer.com/origin/1a/1af8d3b487b77085d5288814f151e1de.gif");
}
.saleCount {
  position: relative;
  margin-left: 120px;
  top: 80px;
  font-size: 40px;
  color: #739900;
}
.myDays {
  font-size: 30px;
  color: #739900;
}
.loader {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
.check {
  display: flex;
  gap: 10%;
  cursor: pointer;
}
.check {
  border: 0px;
  width: 100%;
  height: 1em;
}
.pagination {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
