/* .sales {
  display: flex;
  gap: 2%;
} */
input {
  height: 50px;
  font-size: 20px;
}
.save {
  height: 50px;
  width: 5%;
  font-size: 200%;
  align-items: center;
  margin-top: 25px;
  border-radius: 10px;
  margin-left: 2%;
  background-color: #ccff33;
}
.save:hover {
  background-color: #739900;
  cursor: pointer;
}
.sales-history {
  color: black;
}
.mySales {
}
