<i class="fas fa-home" style="font-size: 40px"></i>
<div class="container-fluid">
  <div class="sales">
    <div class="form-group col-md-5">
      <label for="date">Select Date</label>
      <input
        type="date"
        id="date"
        value="selectedDate"
        class="form-control"
        [(ngModel)]="addSales.selectedDate"
      />
    </div>
    <div class="form-group col-md-offset-1 col-md-3">
      <label for="sales">Todays Sales</label>
      <input
        type="number"
        class="form-control"
        id="sales"
        [(ngModel)]="addSales.todaysSales"
      />
    </div>
    <div>
      <button class="save" (click)="submitSales()">Save</button>
    </div>
    {{ message }}
  </div>
  <br />
  <hr />
  <div>
    <button
      type="button"
      (click)="fetchAllSales()"
      class="btn btn-info sales-history"
    >
      Open My Sales History
      <i class="fas fa-chevron-down"></i>
    </button>
    <div class="mySales">
      <p>Lorem ipsum...</p>
    </div>
  </div>
</div>
