<i class="fas fa-home" (click)="backHome()" style="font-size: 40px"></i>
<div class="container-fluid">
  <div class="sales row">
    <!-- <div class="form-group col-md-5">
      <label for="date">Select Date</label>
      <input
        type="date"
        id="date"
        value="selectedDate"
        class="form-control"
        [(ngModel)]="addSales.selectedDate"
      />
    </div> -->
    <div class="form-group col-md-3">
      <label for="sales">Todays Sales</label>
      <input
        type="number"
        class="form-control"
        id="sales"
        [(ngModel)]="addSales.paymentMoney"
      />
    </div>

    <mat-radio-group
      class="col-md-4"
      aria-label="Select an option"
      [(ngModel)]="addSales.paymentType"
      labelPosition="before"
    >
      <mat-radio-button value="Cash_Payment">
        <div class="paymentType">
          <!-- <label class="form-check-label" for="flexCheckChecked"
            ><h3>Cash</h3>
          </label> -->
          <img
            class="imagesPayment"
            src="https://image.shutterstock.com/image-vector/cartoon-vector-illustration-cash-coins-260nw-45014608.jpg"
            alt=""
          />
        </div>
      </mat-radio-button>
      <mat-radio-button value="UPI_Payment">
        <div class="paymentType">
          <!-- <label class="form-check-label" for="flexCheckDefault"
            ><h3>PhonePe/GPay</h3>
          </label> -->
          <img
            class="imagesPayment"
            src="https://m.economictimes.com/thumb/msid-74960608,width-1200,height-900,resizemode-4,imgsize-49172/upi-twitter.jpg"
            alt=""
          /></div
      ></mat-radio-button>
      <mat-radio-button value="donors_Pay"
        ><div class="paymentType">
          <label class="form-check-label" for="flexCheckDefault"
            ><h3>Donor's</h3>
          </label>
          <i style="font-size: 30px" class="fas fa-user"></i></div
      ></mat-radio-button>
    </mat-radio-group>

    <div class="col-md-2">
      <button class="save" (click)="submitSales()">
        {{ addSales.paymentType }} Save</button
      ><img
        *ngIf="loader"
        class="loader"
        src="https://i.gifer.com/ZZ5H.gif"
        alt=""
      />
    </div>

    <div class="col-md-offset-1 col-md-2">
      <h1>Your Days Sales</h1>
      <h2 class="myDays">{{ daySales | currency: "INR":true }}</h2>
    </div>

    {{ message }}
  </div>
  <br />
  <hr />
  <div>
    <button
      type="button"
      (click)="fetchAllSales()"
      class="btn btn-info sales-history"
    >
      Open My Sales History
      <i *ngIf="!mySalesOpen" class="fas fa-chevron-down"></i>
      <i *ngIf="mySalesOpen" class="fas fa-chevron-up"></i>
    </button>
  </div>
  <br />
  <div *ngIf="mySalesOpen" class="parent-sales">
    <div class="mySales col-md-7">
      <table class="table table-stripped">
        <thead>
          <tr>
            <td>Date</td>

            <td>Cash</td>
            <td>UPI</td>
            <td>Donor's</td>
            <td>Total Sale's</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr class="editdata" *ngFor="let item of mySales">
            <td>{{ item.selectedDate }}</td>
            <td>{{ item.Cash_Payment | currency: "INR":true }}</td>
            <td>{{ item.UPI_Payment | currency: "INR":true }}</td>
            <td>{{ item.donors_Pay | currency: "INR":true }}</td>
            <td>{{ item.todaysSales | currency: "INR":true }}</td>
            <td><i class="fas fa-pencil-alt"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group col-md-offset-1 col-md-3">
      <label for="days">Select Days</label>
      <select
        name="days"
        autofocus
        #select
        (click)="selctedDays(select.value)"
        class="form-control col-md-4"
        id="days"
      >
        <option>--Select Your Days--</option>
        <option value="3">3 Days</option>
        <option value="5">5 Days</option>
        <option value="7">7 Days</option>
        <option value="10">10 Days</option>
      </select>
      <br /><br />
      <div class="sales-show">
        <p>Your Sales for Last selcted days</p>
        <h1 class="saleCount">{{ customSales | currency: "INR":true }}</h1>
      </div>
    </div>
  </div>
</div>
