<h2>Welcome {{ loggedInUser }} !!</h2>
<div style="background-image: linear-gradien
  t(to top, #33bec4, #2bb3c7, #33a7c7, #429bc3, #528ebb, #5992bc, #6095be, #6799bf, #70adca, #7fc1d4, #94d4dc, #ace7e4);"
  class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="parentOption">
        <div *ngFor="let a of userOptions">
          <div>
            <img
              src="{{ a.img }}"
              class="myOptionBox"
              alt="access"
              (click)="optionHandler(a.name)"
            /><br />
            <h4 style="text-align: center">{{ a.name }}</h4>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
