.parentOption {
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
  padding: 5%;
  margin: 5px;
}

.myOptionBox {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0px;
}
.myOptionBox:hover {
  transform: scale(1.05);
}
