.loader {
  height: 30px;
  width: 30px;
}
.check {
  display: flex;
  gap: 10%;
  cursor: pointer;
}

.back {
  font-size: 35px;
  display: flex;
  justify-content: end;
  margin: 1.5%;
  gap: 0.5%;
}
.header-register {
  display: flex;
  gap: 40%;
}
.header-register i {
  cursor: pointer;
}
