.loader {
  height: 30px;
  width: 30px;
}
.check {
  display: flex;
  gap: 10%;
  cursor: pointer;
}
.field-error {
  color: #800000;
  background-color: #ff6666;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  padding: 1%;
  /* text-align: center; */
}
.success {
  color: #ffffff;
  background-color: #a6ff4d;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  padding: 1%;
}
.failure {
  color: #ffffff;
  background-color: #ff3333;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  padding: 1%;
}
.back {
  font-size: 35px;
  display: flex;
  justify-content: end;
  margin: 1.5%;
  gap: 0.5%;
}
